{% extends 'base.html' %}
{% block content %}

<section>
    <div class="container pt-4">
        <div class="col-lg-6 col-12 offset-lg-3">
            <p class="text-center display-5">About Us</p>
            <hr>
            <img src="../static/images/about-image.jpg" class="col-12 p-0 pb-4" />
            <p>
                We aim to provide an easy way to eat just
                like a hobbit from <i>The Lord of The Rings'</i> universe.
                You tell us how you eat and we suggest foods
                and provide recipes.
                <br><br>
                Our meal plan creator is powered by the spoonacular api.
                You can check it out here: <a href="https://spoonacular.com/" target="_blank">Spoonacular</a>
                <br><br>
                Our meals are designed using
                <a href="https://www.webstaurantstore.com/blog/1786/hobbit-meals-to-celebrate-hobbit-day.html"
                    target="_blank">
                    webstaurantstore's guide
                </a>
                to hobbit meals.

                <br><br>
                This website was designed as a final project for Make School's SPD 1.2 course.
            </p>
            <hr>
        </div>

    </div>
</section>

{% endblock content %}