{% extends 'base.html' %}
{% block content %}

<!-- Plan Config Form -->
<section>
    <div class="bg-darkgray py-4">
        <div class="container bg-light page px-0">
            <div class="col-12 create-plan-image p-5">
                <p class="display-4 pl-2 text-white">Meal Plan Creator </p>
                <p class="text-md pl-2">Configure And Create Your Meal Plan Here.</p>
            </div>

            <div class="text-left py-5 bg-gray col-12">
                <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <form method='POST' action="/createPlan">
                        <p class="display-5">Taste and Nutrition</p>
                        <hr>
                        <fieldset>
                            <!-- calories -->
                            <label for="calories" class="ml-3 mt-4">How many calories do you typically consume in one
                                day?</label>
                            <input id="calores" class="neo_input" type="number"
                                placeholder="2000 is typical for a balanced diet." name="calories" />

                            <!-- vegetarian  -->
                            <div class="pt-4">
                                <div class="ml-3">
                                    <label for="vegetarianSelect">Are you vegetarian?</label>
                                </div>
                                <select class="neo_input neo_selector" id="vegetarianSelect" name="vegetarian">
                                    <option>No</option>
                                    <option>Yes</option>
                                </select>
                            </div>

                            <!-- max sugar -->
                            <label for="sugar" class="ml-3 mt-4">Set the max grams of sugar in your plan.</label>
                            <input id="sugar" class="neo_input" type="number" name="sugar"
                                placeholder="Less than 75g is recommended" />


                            <!-- allergens -->
                            <label for="allergy" class="ml-3 mt-4">List all food allergies seperated by a
                                comma. (leave blank if none)</label>
                            <input id="allergy" class="neo_input" type="text" name="alergy"
                                placeholder="Ex: Peanuts, Dairy, Soy" />

                            <!-- disliked foods -->
                            <label for="dislikes" class="ml-3 mt-4">List any foods you dislike seperated by a
                                comma. (leave blank if none)</label>
                            <input id="dislikes" class="neo_input" type="text" name="dislikes"
                                placeholder="Ex: Beets, Spaghetti, Olives" />

                            <!-- submit -->
                            <div class="col-6 offset-3 pt-4">
                                <input type="submit" value="Finish and Create Plan" class="neo_submit mt-3" />
                            </div>
                        </fieldset>
                    </form>
                </div>

            </div>
        </div>

    </div>
</section>

{% endblock content %}