{% extends 'base.html' %}
{% block content %}

<!-- HERO -->
<section>
    <div class="jumbotron hero-background-img text-white m-0 rounded-0">
        <div class="row my-5">
            <div class="offset-1 col-md-6 col-10">
                <h1 class="display-4">Eat Like A Hobbit</h1>
                <p class="lead">Custom create a seven meal menu today!</p>
                <a href="/createPlan" class="btn btn-primary">Start Now</a>
            </div>
        </div>
    </div>
</section>

<!-- BENEFITS -->
<section>
    <div class="text-center pt-5 pb-2 bg-light col-12">
        <h2>The best place to plan your hobbit feast.</h2>
        <div class="col-10 offset-1 mt-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card p-0 h-100">
                        <div class="card-body">
                            <h5 class="card-title">Tailored For You </h5>
                            <p class="card-text text-left">
                                Our custom meal plan creator gives you full control
                                over what your meals will look like. Limit calories,
                                exclude ingredients, it's all up to you.
                            </p>
                        </div>
                        <img src="../static/images/hobbit-card-home.jpg" class="card-img" alt="...">

                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card p-0 h-100">
                        <div class="card-body">
                            <h5 class="card-title">With Massive Variety</h5>
                            <p class="card-text text-left">
                                Our meal plan creator finds the best possible meal plan
                                for you from thousands of dishes online.
                            </p>
                        </div>
                        <img src="../static/images/hobbit-feast.jpg" class="card-img" alt="...">
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card p-0 h-100">
                        <div class="card-body">
                            <h5 class="card-title">And Easy Setup</h5>
                            <p class="card-text">
                                Build your plan using our meal plan creator.
                                Submit some information about your tastes and
                                we will generate your meal plan within seconds.
                            </p>
                        </div>
                        <img src="../static/images/hobbiton-sign.jpg" class="card-img" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- CALL TO ACTION -->
<section>

</section>

<section>
    <div class="text-center">
        <div class="bg-white text-dark pt-5">
            <div class="offset-3 col-6">
                <h1>Build Your Meal Plan Now</h1>
                <a href="/createPlan" class="btn btn-primary mt-3">Get Started</a>
            </div>
        </div>
    </div>
</section>

<!-- Feedback Form -->
<section>
    <div class="container text-left pt-5">
        <p class="">Feedback</p>
    </div>
</section>

{% endblock content %}