{% extends 'base.html' %}
{% block content %}

<!-- HERO -->
<section>
    <div class="jumbotron hero-background-img text-white m-0 rounded-0">
        <div class="row my-5">
            <div class="offset-1 col-md-6 col-10">
                <h1 class="display-4">Eat Like A Hobbit</h1>
                <p class="lead">Custom create a seven meal menu today!</p>
                <a href="/createPlan" class="btn btn-primary">Start Now</a>
            </div>
        </div>
    </div>
</section>

<!-- BENEFITS -->
<section>
    <div class="text-center py-5 bg-light col-12">
        <h2>The best place to plan your hobbit feast.</h2>
        <div class="col-8 offset-2 mt-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card p-0">
                        <div class="card-body">
                            <h5 class="card-title">Tailored For You </h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the
                                card's
                                content.</p>
                        </div>
                        <img src="../static/images/hobbit-card-home.jpg" class="card-img" alt="...">

                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card p-0">
                        <div class="card-body">
                            <h5 class="card-title">With Massive Variety</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the
                                card's
                                content.</p>
                        </div>
                        <img src="../static/images/hobbiton-sign.jpg" class="card-img" alt="...">
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card p-0">
                        <div class="card-body">
                            <h5 class="card-title">And Easy Setup</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the
                                card's
                                content.</p>
                        </div>
                        <img src="../static/images/hobbiton-sign.jpg" class="card-img" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- CALL TO ACTION -->
<section>

</section>

<section>
    <div class="text-center">
        <div class="bg-dark text-light py-5">
            <div class="offset-3 col-6">
                <h1>About Us</h1>
                <p>Lorem ipsum dolor</p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container text-center">
        <p class="">Feedback</p>
    </div>
</section>

{% endblock content %}