{% extends 'base.html' %}
{% block content %}

<section class="bg-gray pb-5">
    <div class="container col-lg-8 offset-lg-2">
        <p class="display-5 text-center">View Plan</p>
        {% for mealNumber in range(mealNames|length) %}
        <div class="card my-4">
            <div class="card-header display-5">
                {{mealNames[mealNumber]}}
            </div>
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-md-6 col-12">
                        <h5 class="card-title">{{response[mealNumber].title}}</h5>
                        <p class="card-text">{{response[mealNumber].summary|safe}}...</p>
                    </div>
                    <div class="col-md-6 col-12 mt-4 p-0 d-flex justify-content-center">
                        <div>
                            <img src="https://spoonacular.com/recipeImages/{{response[mealNumber].id}}-312x231.jpg"
                                class="recipe-image" />
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="{{response[mealNumber].sourceUrl}}" target="blank" class="btn btn-primary">See
                        Recipe</a>
                </div>
            </div>
        </div>
        {% endfor %}
</section>

{% endblock content %}