{% extends 'base.html' %}
{% block content %}

<section>
    <div class="container col-lg-8 offset-lg-2">
        <p class="display-5 text-center">View Plan</p>

        <div class="card my-4">
            <div class="card-header">
                Beakfast - (7:00 am)
            </div>
            <div class="card-body">
                <h5 class="card-title">Food Name</h5>
                <p class="card-text">Food Description</p>
                <a href="#" class="btn btn-primary">See Recipe</a>
            </div>
        </div>

        <div class="card my-4">
            <div class="card-header">
                Second Beakfast - (9:00 am)
            </div>
            <div class="card-body">
                <h5 class="card-title">Food Name</h5>
                <p class="card-text">Food Description</p>
                <a href="#" class="btn btn-primary">See Recipe</a>
            </div>
        </div>

        <div class="card my-4">
            <div class="card-header">
                Elevenses - (11:00 am)
            </div>
            <div class="card-body">
                <h5 class="card-title">Food Name</h5>
                <p class="card-text">Food Description</p>
                <a href="#" class="btn btn-primary">See Recipe</a>
            </div>
        </div>

        <div class="card my-4">
            <div class="card-header">
                Luncheon - (1:00 pm)
            </div>
            <div class="card-body">
                <h5 class="card-title">Food Name</h5>
                <p class="card-text">Food Description</p>
                <a href="#" class="btn btn-primary">See Recipe</a>
            </div>
        </div>

        <div class="card my-4">
            <div class="card-header">
                Afternoon Tea - (3:00 pm)
            </div>
            <div class="card-body">
                <h5 class="card-title">Food Name</h5>
                <p class="card-text">Food Description</p>
                <a href="#" class="btn btn-primary">See Recipe</a>
            </div>
        </div>

        <div class="card my-4">
            <div class="card-header">
                Dinner - (6:00 pm)
            </div>
            <div class="card-body">
                <h5 class="card-title">Food Name</h5>
                <p class="card-text">Food Description</p>
                <a href="#" class="btn btn-primary">See Recipe</a>
            </div>
        </div>

        <div class="card my-4">
            <div class="card-header">
                Supper - (9:00 pm)
            </div>
            <div class="card-body">
                <h5 class="card-title">Food Name</h5>
                <p class="card-text">Food Description</p>
                <a href="#" class="btn btn-primary">See Recipe</a>
            </div>
        </div>
    </div>
</section>

{% endblock content %}